<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/bootstrap/dist/css/bootstrap.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/leaflet/dist/leaflet.css')}}">
    <style type="text/css">
        html, body { 
            height:100%; 
            width:100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width:100%; 
            height:100%;
        }
    </style>
</head>
<body>

<div id="map"></div>

<script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet/dist/leaflet.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/src/BoundedTileLayer.js')}}"></script>

<!--<script type="text/javascript" src="test.js"></script>-->

<script type="text/javascript">
    (function () {
        'use strict';

        //this defines the area we are interested in
        var polygon = L.polygon([
            [63.3, 10.1],
            [63.3, 10.6],
            [63.5, 10.6],
            [63.5, 10.1],
            [63.3, 10.1]
            ]);
        var bounds = polygon.getBounds();

        //set the bounds on the map to prevent panning outside
        var map = L.map('map', {maxBounds: bounds}).setView([63.4, 10.3], 0);
        
        //the L.BoundedTileLayer behaves as an L.TileLayer, except for a more
        //"sophisticated" loading of tiles related to the bounds.
        L.boundedTileLayer('http://127.0.0.1:8080/test/{z}/{x}/{y}.png', {
            bounds: bounds
        }).addTo(map);

        //show the bounds
        map.addLayer(polygon);



    }());
</script>

</body>
</html>
