<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/bootstrap/dist/css/bootstrap.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='js/lib/leaflet/dist/leaflet.css')}}">
    <style type="text/css">
        html, body { 
            height:100%; 
            width:100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width:100%; 
            height:100%;
        }

        #under {
            padding: 5px;
            position: absolute;
            height: 140px;
            width: 100%;
            bottom: 0;
            background: rgba(100, 100, 100, 0.4);
            z-index: 1200;
        }
    </style>
</head>
<body>

<div id="map"></div>
<div id="under">
    <div class="row">
        <div class="col-xs-2">
            <input class="form-control" value="0" id="minZoom">
            <input class="form-control" value="16" id="maxZoom">
            <button id="calculate" class="btn">Calculate tiles for current bounds</button>
        </div>
        <div class="col-xs-10">
            <span id="res"></span>
            <button id="generate" class="btn hidden">Ok, Generate them!</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/lib/underscore-min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/lib/jquery/dist/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/lib/leaflet/dist/leaflet.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/src/BoundedTileLayer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/src/BoundsGenerator.js')}}"></script>
<!--<script type="text/javascript" src="test.js"></script>-->

<script type="text/javascript">
    (function () {
        'use strict';

        var map = L.map('map').setView([63.4, 10.3], 12);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        function calculateTiles() {
            if (map.getZoom() < 12 ) {
                alert("zoom further in!");
                $("#res").html("");
                return;
            } 
            $("#res").html("Computing number of tiles");
            var bounds = map.getBounds().toBBoxString();
            var minZoom = parseInt($("#minZoom").val(), 10);
            var maxZoom = parseInt($("#maxZoom").val(), 10);
            var tiles = TOPH.generateTiles(bounds,minZoom, maxZoom);

            $("#res").html("Creating tiles for current bounds from zoom " +  minZoom + " to " + maxZoom + " generates " + tiles.length + " tiles");

            $('#generate').removeClass("hidden");
        }
        
        function tilesGenerated() {
            $("#res").html("Tiles generated");
            $('#generate').addClass("hidden");
        }

        function generateTiles() {
            var data = {
                bounds: map.getBounds().toBBoxString(),
                minZoom: parseInt($("#minZoom").val(), 10),
                maxZoom: parseInt($("#maxZoom").val(), 10)
            }

            $.ajax({
                type: "POST",
                url: "/generate",
                data: JSON.stringify(data),
                success: tilesGenerated,
                contentType: "application/json",
                dataType: "json"
            });
        }

        $('#calculate').click(calculateTiles);

        $('#generate').click(generateTiles);

    }());
</script>

</body>
</html>
